<form name="chpwd" action="">
<label for="cpwd"> <h3>Current Password </h3> </label> <input type="password" name="cpwd" class="t"> </input><br>
<label for="npwd"><h3> New Password </h3></label> <input type="password" name="npwd" class="t"> </input> <br>
<label for="rnpwd"> <h3>Type Password Again</h3> </label> <input type="password" name="rnpwd" class="t"> </input><br><br>
<h3><input type="Submit" name="change" class="b" > </input></h3>
</form>
