body{
background:url("images/home.jpg");
margin:0;
//color:black;
//background-size:100%;
}
#head-bar{
//position:fixed;
//box-shadow: 0 0 5px black;
top:0px;
left:0px;
width:100%;
height:8%;
background-color:transparent;//menu
z-index:10000000;
}
#flavor_1
{
position:absolute;
margin-top:28px;
//margin-left:9%;
//margin-right:5%;
//height:500px;
width:100%;
//box-shadow: 0 0 5px #333;
//z-index:-1;
}
#hbanner{
position:fixed;
//margin-top:40%;
width:100%;
height:35px;	
bottom:0px;
padding:0;
margin:0;
background-color:white;
//background:url("images/banner1.jpg");
background-size:100% ;
background-repeat:no-repeat;
z-index:10000;
}
#content-container{
position:relative;
width:100%;
height:100%;
display:block;

}
#content-form{
position:relative;
height:60%;
width:70%;
display:block;
float:center;
margin-top:150px;
margin-left:175px;
//margin-right:20%;
//box-shadow: 0 0 5px #333;
//bottom:5%;
background:whitesmoke;
}
#content-form-info{
position:absolute;
margin-top:0%;
margin-left:32%;
//box-shadow: 0 0 5px black;
height:65%;
width:60%;
z-index:200;
background:whitesmoke;
color:black;
display:none;
//overflow-y:scroll;
}
#content-form-into{
position:absolute;
margin-top:0%;
margin-left:500px;
//box-shadow: 0 0 5px black;
height:55%;
//width:80%;
//background:whitesmoke;
color:grey;
//overflow-y:scroll;
}
#showbal{
position:absolute;
margin-top:-100px;
margin-left:50px;
//box-shadow: 0 0 5px black;
height:7%;
width:100%;
z-index:200;
//background:white;
color:deepskyblue;
//display:none;
//overflow-y:scroll;
}


table{
position:relative;
width:100%;
height:100%;
//overflow-y:scroll;
float:left;
//border-color:transparent;
border-style:none;
border-spacing:0;
}
table tr{
position:relative;
height:35px;
color:deepskyblue;
border:0px;
font-size:18px;
z-index:1;
overflow-y:scroll;
}

select.t,input.t{
position :relative;
width:90%;
height:auto;
font-size:20px;
	background: white;
	border: 1px solid lightgrey;
	//border-radius: 5px;
	//box-shadow: 0 0 5px #333;
	color: #666;
	float: left;
display:block;
	padding: 5px 10px;
margin:0px;
	outline: none;
overflow:hidden;
margin-bottom:2px;

}

select.t:focus,input.t:focus,input.b:focus,textarea.ta:focus{
box-shadow: 0 0 1px deepskyblue;
	}
input.b{
color:blue;
position :relative;
width:60%;
height:auto;
font-size:20px;
	background: green;
	border: 1px double #DDD;
	//border-radius: 3px;
	box-shadow: 0 0 2px #333;
	color: white;
align:center;	
display:block;
	padding: 0px 10px;
margin-left:20%;
	outline: none;
overflow:hidden;
cursor:pointer;
}
textarea.ta{
position :relative;
width:90%;
height:70%;
resize:none;
font-size:20px;
	background: white;
	border: 1px double lightgrey;
	//border-radius: 5px;
	//box-shadow: 0 0 5px #333;
	color: #666;
	float: left;
display:block;
	padding: 5px 10px;
margin:0px;
	outline: none;
overflow:hidden;

}
#chng{
position:absolute;
margin-top:0%;
margin-left:150%;
padding:10%;
width:100%;
height:auto;
display:block; 
box-shadow: 0 0 5px black;
	background: whitesmoke;
z-index:1000;
color:#FF7F00;
	//border-radius: 5px;
}
#user-search{
position : absolute;
margin-top:100px;
margin-left:75px;
//padding-top:10%;
}
@font-face {
  font-family: 'Bilbo Swash Caps';
  font-style: normal;
  font-weight: 400;
  src: local('Bilbo Swash Caps'), local('Bilbo Swash Caps'), url(UB_-crLvhx-PwGKW1oosDpbko4ywDBcg2f1uYutDOWY.woff) format('woff');
}
@font-face {
  font-family: 'Euphoria Script';
  font-style: normal;
  font-weight: 400;
  src: local('Euphoria Script'), local('EuphoriaScript-Regular'), url(c4XB4Iijj_NvSsCF4I0O2DVi_4UGEKHjyEZCTqR5Ysg.woff) format('woff');
}
@font-face {
  font-family: 'Tangerine';
  font-style: normal;
  font-weight: 400;
  src: local('Tangerine'), url(HGfsyCL5WASpHOFnouG-RD8E0i7KZn-EPnyo3HZu7kw.woff) format('woff');
}
#hbanner{
position:fixed;
//margin-top:40%;
width:100%;
height:35px;	
bottom:0px;
padding:0;
margin:0;
background-color:white;
//background:url("images/banner1.jpg");
background-size:100% ;
background-repeat:no-repeat;
z-index:10000;
font-family: 'Bilbo Swash Caps', cursive;
}
