body{
margin:0;
}
#head{
position:absolute;
height:50px;
width:100%;
margin:0;
display:block;
//background-color:whitesmoke;
//color:black;
font-size:24px;
}
ul{
list-style:none;
display:none;
//margin-top:100px;
}
#logo1 img{float:left;
position:relative;maring-top:10%;
width:10%;height:100px;display:block;box-shadow: 0px 0px 12px pink;
}
#pur,#cust,#sari,#earn,#admin{
position:relative;
float:left;
width:125px;
margin:1%;cursor:pointer;
display:block;
height:43px;
margin-top:0;
background-color:deepskyblue;
padding-top:7px;
padding-left:10px;
box-shadow: 0px 0px 1px whitesmoke;
text-align:center;
z-index:1;
}
#admin{
float:right;cursor:pointer;
}
#admin:hover,#pur:hover,#cust:hover,#sari:hover,#earn:hover{
color:whitesmoke;
transition:background-color 1s, linear 1s;
-webkit-transition:background-color 1s, linear 1s;
-moz-transition:background-color 1s, linear 1s;
background-color:green;

}
.menu{color:color:#CB8C1D;}
.menu:hover > ul{
//box-shadow: 0px 0px 1px white;
position:relative;
display:block;
padding:5px 3px 3px 3px;
margin:0%;
color:deepskyblue;
width:100%;
font-size:20px;
align:center;
cursor:pointer;
margin-top:1%;
margin-left:-8px;
//z-index:-1;
background-color:whitesmoke;
}
li{margin:5% 0px ;text-align:center;width:100%;height:30px;}
li:hover{background-color:deepskyblue;}
a{width:100%;height:100%;color:black;text-decoration:none;}
a:link {text-decoration:none;}
a:visited {text-decoration:none;}
a:hover {text-decoration:none;}
