body{
margin:0;
width:100%;
height:100%;
//color :white;
//background-image:url("Login.jpg");
background-position:0;
}


/*#head-banner,#head-logo,#content{

border :1px blue solid;}  */

@font-face {
  font-family: 'Dancing Script';
  font-style: normal;
  font-weight: 400;
  src: local('Dancing Script'), local('DancingScript'), url(DK0eTGXiZjN6yA8zAEyM2VhlQWQpSCpzb2Peu3I-Q34.woff) format('woff');
}

#head-banner{
display:block;
width:100%;
height:20%;
//background-image:url("images/banner.png") ;
background-size:100%;
//background-attachment:fixed;
background-position:center;

}
.noselect{
cursor:default;
-webkit-touch-callout: none;
-webkit-user-select: none;
-khtml-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}
#h-b
{
position: relative;
padding-top: 33px;
//width: 100%;
height: 15%;
font-family: 'Dancing Script', cursive;
font-size: 72px;
color: #6B423D;
transition:margin 10s, cubic-bezier(0.42,0,0.58,1) 10s ;
-webkit-transition:margin 10s, cubic-bezier(0.42,0,0.58,1) 10s ;
-moz-transition:margin 10s, cubic-bezier(0.42,0,0.58,1) 10s ;

}
#h-b.blue
{

margin-left:30%;
//color:whitesmoke;
color:DeepSkyBlue;
}

#head-banner img{
position:relative;
width:100%;
height:100%;
}
#head-logo img{
float:left;
position:relative;
height:100%;
width:100%;
}

#head-logo{
position : absolute;
margin:2%;
width:12%;
height:27%;
z-index:1;
//background-image:url("logo.jpg");
//box-shadow:10px 10px 5px black;
}
#content{
position:absolute;
margin:0;
background-image:url("images/container.jpg");
background-size:100%;
//box-shadow:10px 10px 5px blue;
height:80%;
width:100%;
//border:1px solid black;
}

#login-container{
//background-size:100%;
position:absolute;
width:20%; 
height:auto;
margin-top:2%;
margin-left:75%;
margin-bottom:0;
display :block;
z-index:1;
	box-shadow: 0 0 5px #333;
//border:1px double ;
}

input.a{
position :relative;
width:100%;
height:6%;
	background: white;
	border: 1px double #DDD;
	//border-radius: 5px;
//box-shadow: 0 0 5px #333;
	color: #666;
	float: left;
display:block;
	padding: 5px 10px;
margin:10px;
	outline: none;
overflow:hidden;
}
input.a:focus{
border: 1px double deepskyblue;
}
table{
position:relative;
align:center;
border-color:none;
border-spacing:0;
}
input.b{
color:white;
position :relative;
width:100%;
height:6%;
	background: green;
	border: 1px double #DDD;
	//border-radius: 5px;
	box-shadow: 0 0 5px #333;
//	color: #666;
	
display:block;
	padding: 5px 10px;
margin:10px;
	outline: none;
overflow:hidden;
cursor:pointer;
}

form{
font-size: 24px;
position:relative;
color:white;
}
